
<% @errors && @errors.each do |m|%>
  <li><%=m%></li>
<%end%>

<%=form_for @item do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %><br>

  <%=f.label "Measurements" %><br>
  <%=f.fields_for :measurements do |m|%>
    <%=m.label :quantity%>
    <%=m.number_field :quantity %><br>
    <%=m.label :unit%>
    <%=m.text_field :unit%><br>
  <%end%>
  <%=f.submit "Submit"%>
<%end%>
