<h1>Item</h1>

<%=@item.name%><br><br>

<%= render partial: "measurements/measurements", locals: {measurements: @item.measurements, index: false} %>
<br><br>

<%= link_to "Add Item to Pantry", new_item_measurement_path(@item) %><br><br>

<%=link_to "Edit", edit_item_path(@item)%><br><br>

<%=button_to "Delete", @item, method: :delete %>
