<h1>Item</h1>

<%=@item.name%>

<p>Using form_for </p>
<%= form_for @item, method: :delete do |f|%>
  <%=f.submit "Delete"%>
<%end%>

<p>Using button_to</p>

<%=button_to "Delete", @item, method: :delete %>

<p>Using link_to</p>

<%=link_to "Delete", @item, method: :delete %>
