<body>
  <h2>Item Layout</h2>
  <%=link_to "All Items", items_path%>
  <%=link_to "My Pantry", user_items_path(current_user)%>
  <%=link_to "New Item", new_item_path%>
  <%=link_to "New Measurement", new_measurement_path%>
  <%= yield %>
</body>
